@model Projekt_LaStats.ViewModel.CreatePlayerVM

@{
    ViewData["Title"] = "AddPlayer";
}

<h1>AddPlayer</h1>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPlayerPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.player.Name" class="control-label"></label>
                <input asp-for="@Model.player.Name" class="form-control" />
                <span asp-validation-for="@Model.player.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.player.Surname" class="control-label"></label>
                <input asp-for="@Model.player.Surname" class="form-control" />
                <span asp-validation-for="@Model.player.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.player.ShirtNumber" class="control-label"></label>
                <input asp-for="@Model.player.ShirtNumber" class="form-control" />
                <span asp-validation-for="@Model.player.ShirtNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                 <label>Date</label>
                <select style="width: 120px;" asp-for="@Model.day">
                    @for(int i = 1; i <= 31; i++)
                    {
                        <option>@i</option>
                    }
                </select>
                <select style="width: 120px;" asp-for="@Model.month">
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Apr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Aug</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option> 
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                </select>
                <select style="width: 120px;" asp-for="@Model.year">
                    @for (int i = 1950; i <= 2024; i++)
                    {
                        <option>@i</option>
                    }
                </select><br /><br />
            </div>
            
            <div class="form-group">
                <label asp-for="@Model.player.Position" class="control-label"></label>
                <select asp-for="@Model.player.Position" class="form-control" asp-items="Html.GetEnumSelectList<PlayerPosition>()">
                    
                </select>
                <span asp-validation-for="@Model.player.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="@Model.TeamId" type="hidden" class="form-control" value="@Model.TeamId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
