@model IEnumerable<Projekt_LaStats.Models.Player>

@{
    ViewData["Title"] = "PlayersInTeam";
}

<h1>@Model.FirstOrDefault().Team.Name</h1>

<p>
    <a asp-action="AddPlayer" asp-controller="Player" asp-route-id="@Model.FirstOrDefault().TeamId">Add player</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="width:50px; text-align:center;">
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBorn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Penalty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinutesPenalty)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <center>@Html.DisplayFor(modelItem => item.ShirtNumber)</center>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @item.DateBorn.ToString().Substring(0,10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
                <td class="td-info">
                @Html.DisplayFor(modelItem => item.Goals)
            </td>
                <td class="td-info">
                @Html.DisplayFor(modelItem => item.Assist)
            </td>
                <td class="td-info">
                @Html.DisplayFor(modelItem => item.Points)
            </td>
                <td class="td-info">
                @Html.DisplayFor(modelItem => item.Penalty)
            </td>
                <td class="td-info">
                @Html.DisplayFor(modelItem => item.MinutesPenalty)
            </td>
        </tr>
}
    </tbody>
</table>
