@model Projekt_LaStats.ViewModel.CreateEventVM

@{
    ViewData["Title"] = "AddEvent";
}

<h1>Add goal</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEventGoalPost" asp-controller="Event">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.NewEvent.Time" class="control-label"></label>
                <input asp-for="@Model.NewEvent.Time" class="form-control" />
                <span asp-validation-for="@Model.NewEvent.Time" class="text-danger"></span>
            </div>
            @if (Model.playersInMatch.Count == 0)
            {
                
                <p style="color: red;font-size:20px;">At first you have to add players to team.</p>
                <div class="form-group">
                    <label>Player</label>

                    <select class="form-control" disabled>
                    </select>
                </div>
                <div class="form-group">
                    <label>Assist</label>
                    <select class="form-control" disabled>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" disabled />
                </div>
            }
            else
            {
                <div class="form-group">
                <label>Player</label>
                
                <select asp-for="@Model.NewEvent.PlayerEventId" class="form-control" asp-items="@Model.playersInMatch">
                    <option value="null"></option>
                </select>
            </div>
            <div class="form-group">
                <label>Assist</label>
                <select asp-for="@Model.NewEvent.PlayerAssistId" class="form-control" asp-items="@Model.playersInMatch">
                    <option value="null"></option>
                </select>
            </div>
            <div class="form-group">
                <input asp-for="@Model.NewEvent.MatchId" type="hidden" class="form-control" value="@Model.MatchId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            
            }
            </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
