@*@model IEnumerable<Projekt_LaStats.Models.Event>
*@
@model Projekt_LaStats.ViewModel.EventDisplayVM
@{
    ViewData["Title"] = "EventsInMatch";
}
<table class="table">
    <tbody>
        <tr style="text-align:center">
            
            <td class="td-choose-option">
                <a asp-action="InfoLeague" asp-controller="Info" asp-route-id="@Model.LeagueId">
                    <div>Teams</div>
                    </a>
            </td>
            </a>
            <td class="td-choose-option">
                <a asp-action="Matches" asp-controller="Matches" asp-route-id="@Model.LeagueId">
                    <div>Games</div>
                </a>
            </td>
            <td class="td-choose-option">
                <a asp-action="InfoPlayer" asp-controller="Info" asp-route-id="@Model.LeagueId">
                    <div>Points</div>
                </a>
            </td>
            <td class="td-choose-option">
                <a asp-action="InfoPlayerPenalty" asp-controller="Info" asp-route-id="@Model.LeagueId">
                    <div>Penalties</div>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<form asp-action="GameEnded" asp-controller="Matches" asp-route-id="@Model.MatchId">
    <label>Is game end?</label>
    <input asp-for="@Model.IsGameEnd" value="@Model.IsGameEnd" type="checkbox" />
    <div class="form-group">
        <input type="submit" value="Change" class="btn btn-primary" />
    </div>
</form>
<h1>Goals</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Time
            </th>
            <th>
                Score
            </th>
            <th>
                Team
            </th>
            <th>
                Number
            </th>
            <th>
                Player
            </th>
            <th colspan="2">
                Assist
            </th>
            
        </tr>
    </thead>
    <tbody>
        @{
            var SumGoalHome = 0;
            var SumGoalAway = 0;
            var color = "#303030";

        }
        @foreach (var item in Model.eventGool)
        {

            @if (item.PlayerEvent.Team.ShortName == Model.eventGool.FirstOrDefault().Match.HomeTeam.ShortName)
            {
                SumGoalHome += 1;
                color = "#303030";
            }
            else
            {
                SumGoalAway += 1;
                color = "#454545";
            }
            <tr style="background-color: @color">
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @SumGoalHome : @SumGoalAway
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerEvent.Team.ShortName)
                </td>
                <td style="width: 50px; text-align:center;">
                    @Html.DisplayFor(modelItem => item.PlayerEvent.ShirtNumber)
                </td>
                <td>
                    @{
                        var firstLetterName = item.PlayerEvent.Name.Substring(0, 1);
                    }
                    @firstLetterName. @Html.DisplayFor(modelItem => item.PlayerEvent.Surname)
                </td>
                <td style="width: 50px; text-align:center;">
                    @Html.DisplayFor(modelItem => item.PlayerAssist.ShirtNumber)
                </td>
                <td>
                    @{
                        var firstLetterAssistName = "";
                        if(item.PlayerAssist != null)
                        {
                            firstLetterAssistName = item.PlayerAssist.Name.Substring(0, 1) + ".";
                        }
                        else
                        {
                            firstLetterAssistName = null;
                        }

                    }
                    @firstLetterAssistName @Html.DisplayFor(modelItem => item.PlayerAssist.Surname)
                </td>
                
            </tr>
        }
    </tbody>
    
</table><center>
    <a asp-action="AddEventGoal" asp-route-id="@Model.MatchId">
    <button class="AddEventButton">Add Goal</button>
    </a>
</center>
<h1>Penalties</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Team
            </th>
            <th>
                Number
            </th>
            <th>
                Player
            </th>
            <th>
                Type
            </th>
            <th>
                Minutes
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.eventFaul) {
            if (item.PlayerEvent.Team.ShortName == Model.eventFaul.FirstOrDefault().Match.HomeTeam.ShortName)
            {
                color = "#303030";
            }
            else
            {
                color = "#454545";
            }
            <tr style="background-color: @color;">
            <td>
                    @Html.DisplayFor(modelItem => item.PlayerEvent.Team.ShortName)
            </td>
                <td style="width: 50px; text-align:center;">
                    @Html.DisplayFor(modelItem => item.PlayerEvent.ShirtNumber)
                </td>
            <td>
                    @item.PlayerEvent.Name.Substring(0,1). @Html.DisplayFor(modelItem => item.PlayerEvent.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyMinutes)
            </td>
        </tr>
}
    </tbody>
</table>
<center>
    <a asp-action="AddEventPenalty" asp-route-id="@Model.MatchId">
    <button class="AddEventButton">Add Penalty</button>
    </a>
</center>
