@*@model IEnumerable<Projekt_LaStats.Models.Event>
*@
@model Projekt_LaStats.ViewModel.EventDisplayVM
@{
    ViewData["Title"] = "EventsInMatch";
}

<h1>EventsInMatch</h1>

<p>
    <a asp-action="AddEvent" asp-route-id="@Model.MatchId">Create New</a>
</p>

<h1>Goals</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Time
            </th>
            <th>
                Score
            </th>
            <th>
                Team
            </th>
            <th>
                Number
            </th>
            <th>
                Player
            </th>
            <th colspan="2">
                Assist
            </th>
            
        </tr>
    </thead>
    <tbody>
        @{
            var SumGoalHome = 0;
            var SumGoalAway = 0;

        }
        @foreach (var item in Model.eventGool)
        {

            @if (item.PlayerEvent.Team.ShortName == Model.eventGool.FirstOrDefault().Match.HomeTeam.ShortName)
            {
                SumGoalHome += 1;
            }
            else
            {
                SumGoalAway += 1;
            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @SumGoalHome : @SumGoalAway
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerEvent.Team.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerEvent.ShirtNumber)
                </td>
                <td>
                    @{
                        var firstLetterName = item.PlayerEvent.Name.Substring(0, 1);
                    }
                    @firstLetterName. @Html.DisplayFor(modelItem => item.PlayerEvent.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerAssist.ShirtNumber)
                </td>
                <td>
                    @{
                        var firstLetterAssistName = "";
                        if(item.PlayerAssist != null)
                        {
                            firstLetterAssistName = item.PlayerAssist.Name.Substring(0, 1) + ".";
                        }
                        else
                        {
                            firstLetterAssistName = null;
                        }

                    }
                    @firstLetterAssistName @Html.DisplayFor(modelItem => item.PlayerAssist.Surname)
                </td>
                
            </tr>
        }
    </tbody>
</table>

<h1>Penalties</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Team
            </th>
            <th>
                Number
            </th>
            <th>
                Player
            </th>
            <th>
                Type
            </th>
            <th>
                Minutes
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.eventFaul) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.PlayerEvent.Team.ShortName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerEvent.ShirtNumber)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PlayerEvent.Name).ToString().Substring(0,1). @Html.DisplayFor(modelItem => item.PlayerEvent.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyMinutes)
            </td>
        </tr>
}
    </tbody>
</table>
