@model IEnumerable<Projekt_LaStats.Models.Event>

@{
    ViewData["Title"] = "EventsInMatch";
}

<h1>EventsInMatch</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerAssist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerEvent.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerAssist.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Match.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
