@model Projekt_LaStats.ViewModel.CreateMatchVM

@{
    ViewData["Title"] = "AddMatch";
}q

<h1>AddMatch</h1>

<h4>Match</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMatchPost" asp-controller="Matches">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Home Team</label>
                <select asp-for="@Model.match.HomeTeamId" class="form-control" asp-items="@Model.teams"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Away team</label>
                <select asp-for="@Model.match.GuestTeamId" class="form-control" asp-items="@Model.teams"></select>
            </div>
            <div class="form-group">
                <label>Date</label>
                <input type="date" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="@Model.match.Place" class="control-label"></label>
                <input asp-for="@Model.match.Place" class="form-control" />
                <span asp-validation-for="@Model.match.Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
