@model Projekt_LaStats.ViewModel.CreateMatchVM

@{
    ViewData["Title"] = "AddMatch";
}

<h1>Add Match</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @if(Model.teams.Count <= 1)
        {
            <p style="color: red">At first you have to add at least 2 teams</p>
        }
        else
        {
            
        <form asp-action="AddMatchPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Home Team</label>
                <select asp-for="@Model.match.HomeTeamId" class="form-control" asp-items="@Model.teams"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Away team</label>
                <select asp-for="@Model.match.GuestTeamId" class="form-control" asp-items="@Model.teams"></select>
            </div>
            <br />
            <div class="form-group">
                <label>Date</label>
                <select style="width: 120px;" asp-for="@Model.day">
                    @for(int i = 1; i <= 31; i++)
                    {
                        <option>@i</option>
                    }
                </select>
                <select style="width: 120px;" asp-for="@Model.month">
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Apr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Aug</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option> 
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                </select>
                <select style="width: 120px;" asp-for="@Model.year">
                    @for (int i = 2020; i <= 2050; i++)
                    {
                        <option>@i</option>
                    }
                </select><br /><br />
                <label>Time</label>
                <select style="width: 60px;" asp-for="@Model.hour">
                    @for (int i = 0; i <= 23; i++)
                    {
                        <option>@i</option>
                    }
                </select>
                <select style="width: 60px;" asp-for="@Model.minute">
                    @for (int i = 0; i <= 59; i++)
                    {
                        <option>@i</option>
                    }
                </select>
            </div><br />
            <div class="form-group">
                <label asp-for="@Model.match.Place" class="control-label"></label>
                <input asp-for="@Model.match.Place" class="form-control" />
                <span asp-validation-for="@Model.match.Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        }
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
