@model IEnumerable<Projekt_LaStats.Models.Match>

@{
    ViewData["Title"] = "Matches";
}
<div>
    <table class="table">
        <tbody>
            <tr style="text-align:center">
                <td class="td-choose-option">
                    <a asp-action="InfoLeague" asp-controller="Info" asp-route-id="@Model.FirstOrDefault().HomeTeam.LeagueId">
                        <div>Teams</div>
                    </a>
                    </td>
                <td class="td-choose-option" style="background-color: #505050">
                        <div>Games</div>
                </td>
                <td class="td-choose-option">
                    <a asp-action="InfoPlayer" asp-controller="Info" asp-route-id="@Model.FirstOrDefault().HomeTeam.LeagueId">
                        <div>Points</div>
                    </a>
                </td>
                <td class="td-choose-option">
                    <a asp-action="InfoPlayerPenalty" asp-controller="Info" asp-route-id="@Model.FirstOrDefault().HomeTeam.LeagueId">
                        <div>Penalties</div>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h1>Matches</h1>

<p>
    <a asp-action="AddMatch" asp-controller="Matches">Create new match</a>
</p>
    @foreach (var item in Model){
    <div class="Match">
        <div class="match-left-team">
                <a asp-action="PlayersInTeam" asp-controller="Player" asp-route-id="@item.HomeTeam.Id">
                @Html.DisplayFor(modelItem => item.HomeTeam.Name)
                </a>
        </div>
            
        <div class="match-info">
                <p style="font-size: 33px;">
                    <a asp-action="EventsInMatch" asp-controller="Event" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.ScoreHomeTeam) : @Html.DisplayFor(modelItem => item.ScoreGuestTeam)
                    </a>
                </p>
                <p style="font-size: 13px;"> 
                    @item.Date.ToString().Substring(0,10)<br>
                    @Html.DisplayFor(modelItem => item.Place)
                </p>
                
        </div>
        <div class="match-right-team">
            <a asp-action="PlayersInTeam" asp-controller="Player" asp-route-id="@item.GuestTeam.Id">
                @Html.DisplayFor(modelItem => item.GuestTeam.Name)
            </a>
        </div>
    </div>
    }
</table>
