@model IEnumerable<Projekt_LaStats.Models.Match>

@{
    ViewData["Title"] = "Matches";
}

<h1>Matches</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreHomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreGuestTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.HomeTeam.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.GuestTeam.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreHomeTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreGuestTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
    @foreach (var item in Model){
    <div class="Match">
        <div class="match-left-team">
                <a asp-action="PlayersInTeam" asp-controller="Player" asp-route-id="@item.HomeTeam.Id">
                @Html.DisplayFor(modelItem => item.HomeTeam.Name)
                </a>
        </div>
            
        <div class="match-info">
                <p style="font-size: 33px;">
                    <a asp-action="EventsInMatch" asp-controller="Event" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.ScoreHomeTeam) : @Html.DisplayFor(modelItem => item.ScoreGuestTeam)
                    </a>
                </p>
                <p style="font-size: 13px;"> 
                    @Html.DisplayFor(modelItem => item.Date)<br>
                    @Html.DisplayFor(modelItem => item.Place)
                </p>
                
        </div>
        <div class="match-right-team">
            <a asp-action="PlayersInTeam" asp-controller="Player" asp-route-id="@item.GuestTeam.Id">
                @Html.DisplayFor(modelItem => item.GuestTeam.Name)
            </a>
        </div>
    </div>
    }
</table>
