@model Projekt_LaStats.ViewModel.PossibleToCreateTeamInEmptyLeague
@{
    ViewData["Title"] = "Info";
}
<div>
    <table class="table">
        <tbody>
        <tr style="text-align:center">
                <td class="td-choose-option" style="background-color: #505050">Teams</td>
                <td class="td-choose-option">
                    <a asp-action="Matches" asp-controller="Matches" asp-route-id="@Model.id">
                        <div>Games</div>
                        </a>
                    </td>
                <td class="td-choose-option">
                    <a asp-action="InfoPlayer" asp-controller="Info" asp-route-id="@Model.id">
                        <div>Points</div>
                    </a>
                    </td>
                <td class="td-choose-option">
                    <a asp-action="InfoPlayerPenalty" asp-controller="Info" asp-route-id="@Model.id">
                        <div>Penalties</div>
                    </a>
                </td>
        </tr>
        </tbody>
    </table>
</div>
<table class="table" style="width: 700px; margin: 0 auto;">
    <thead>
        <tr style="text-align:center">
            <th>
                Rank
            </th>
            <th>
                Team
            </th>
            <th>
                Games Played
            </th>
            <th>
                Wins
            </th>
            <th>
                Draw
            </th>
            <th>
                Lose
            </th>
            <th>
                Points
            </th>
            <th>
                Bilance
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var iterate = 1;
        }
        @foreach (var item in Model.team)
        {
            <tr>
                <td class="td-info">
                    @iterate
                    @{
                        iterate += 1;
                    }
                </td>
                <td class="td-info" style="width: 300px; font-size: 20px">
                    <a asp-action="PlayersInTeam" asp-controller="Player" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td class="td-info">
                    @(@item.wins + @item.lose + @item.draw)
                </td>
                <td class="td-info">
                    @Html.DisplayFor(modelItem => item.wins)
                </td>
                <td class="td-info">
                    @Html.DisplayFor(modelItem => item.draw)
                </td>
                <td class="td-info">
                    @Html.DisplayFor(modelItem => item.lose)
                </td>
                <td class="td-info">
                    @Html.DisplayFor(modelItem => item.points)
                </td>
                <td class="td-info">
                    @Html.DisplayFor(modelItem => item.ScoredGoals) : @Html.DisplayFor(modelItem => item.LostGoals)
                </td>
            </tr>
        }
    </tbody>
</table><br />
<center>
    <a asp-action="AddTeam" asp-controller="Team" asp-route-id="@Model.id">
        <button class="AddEventButton" style="width:50%;">Add Team</button>
    </a>
</center>