@model IEnumerable<Projekt_LaStats.Models.Team>
@{
    ViewData["Title"] = "Info";
}
<div>
    <table class="table">
        <tbody>
        <tr style="text-align:center">
                <td class="td-choose-option" style="background-color: #505050">Teams</td>
                <td class="td-choose-option">
                    <a asp-action="Matches" asp-controller="Matches" asp-route-id="@Model.FirstOrDefault().LeagueId">
                        <div>Games</div>
                        </a>
                    </td>
                <td class="td-choose-option">
                    <a asp-action="InfoPlayer" asp-controller="Info" asp-route-id="@Model.FirstOrDefault().LeagueId">
                        <div>Points</div>
                    </a>
                    </td>
                <td class="td-choose-option">
                    <a asp-action="InfoPlayerPenalty" asp-controller="Info"  asp-route-id="@Model.FirstOrDefault().LeagueId">
                        <div>Penalties</div>
                    </a>
                </td>
        </tr>
        </tbody>
    </table>
</div>
<table class="table" style="width: 700px; margin: 0 auto;">
    <thead>
        <tr style="text-align:center">
            <th>
                Rank
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Games Played
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.draw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.points)
            </th>
            <th>
                Bilance
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="td-info">
                    @item.Id
                </td>
                <td class="td-info" style="width: 300px; font-size: 20px">
                        @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="td-info">
                    @(@item.wins+@item.lose+@item.draw)
                </td>
                <td class="td-info">
                        @Html.DisplayFor(modelItem => item.wins)
                </td>
                <td class="td-info">
                        @Html.DisplayFor(modelItem => item.lose)
                </td>
                <td class="td-info">
                    @Html.DisplayFor(modelItem => item.draw)
                </td>
                <td class="td-info">
                    @Html.DisplayFor(modelItem => item.points)
                </td>
                <td class="td-info">
                    @Html.DisplayFor(modelItem => item.ScoredGoals) : @Html.DisplayFor(modelItem => item.LostGoals)
                </td>
            </tr>
        }
    </tbody>
</table>