@model IEnumerable<Projekt_LaStats.Models.Player>

@{
    ViewData["Title"] = "InfoPlayer";
}
<div>
    <table class="table">
        <tbody>
            <tr style="text-align:center">
                <td class="td-choose-option">
                    <a asp-action="InfoLeague" asp-controller="Info" asp-route-id="@ViewBag.Id">
                        <div>Teams</div>
                    </a>
                    </td>
                <td class="td-choose-option">
                    <a asp-action="Matches" asp-controller="Matches" asp-route-id="@ViewBag.Id">
                        <div>Games</div>
                    </a>
                </td>
                <td class="td-choose-option" style="background-color: #505050">
                        <div>Points</div>
                </td>
                <td class="td-choose-option">
                    <a asp-action="InfoPlayerPenalty" asp-controller="Info" asp-route-id="@ViewBag.Id">
                        <div>Penalties</div>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h1>Info about goals and assists</h1>
<table class="table" style="width: 700px; margin: 0 auto;">
    <thead style="text-align:center;">
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var iterate = 1;
        }
@foreach (var item in Model) {
        <tr>
            <td style="width: 30px;">@iterate</td>
            @{
                iterate++;
            }
            <td>
                    @Html.DisplayFor(modelItem => item.Surname), @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="text-align:center;">
                @Html.DisplayFor(modelItem => item.ShirtNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
                <td class="td-info">
                @Html.DisplayFor(modelItem => item.Goals)
            </td>
                <td class="td-info">
                @Html.DisplayFor(modelItem => item.Assist)
            </td>
                <td class="td-info">
                @Html.DisplayFor(modelItem => item.Points)
            </td>
        </tr>
}
    </tbody>
</table>
