@model IEnumerable<Projekt_LaStats.Models.Team>

@{
    ViewData["Title"] = "Teams";
}

<h1>Teams</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<h1>Teams</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="EditTeam" asp-route-id="@item.Id">Edit</a> |
                    <form method="POST" asp-action="DeleteTeam" asp-route-id="@item.Id">
                    <button type="submit" value="@item.Id">Delete</button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
